header {
    width: 100%;
}

.navbar {
    font-family: sans-serif;
    width: 100%;
    height: 1%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: initial;
    list-style-type: none;
    margin: 0px 0px;
    padding: 5px;
    border: 5px solid white;
    border-radius: 50px;
    border-bottom: 5px;
    background: white;
    float: left;
    font-weight: bolder;
    transition: background-color .7s;
    text-align: center;
}

.pinterestl {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 30px;
    height: 30px;
    cursor: pointer
}

.variable {
    padding: 5px;
    color: black;
}

.variable:hover {
    cursor: pointer;
    background-color: #e7e7e7;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(110, 110, 110) ;
}

#buscar {
  
    background-color: #F3F3F3;
    width: 900px;
    height: 45px;
    border: none;
    border-radius: 50px;
    padding: 10px 10px 10px 80px;
    outline: none;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    font-size: 17px;
    float: left;
    color: grey;
    padding-left: 45px;    
    font-family: sans-serif;
}

.notificacion {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mensaje {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.j {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20px;
    height: 20px;  
}

.v {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20px;
    height: 20px;
}


.columna {
    flex: 20%;
    max-width: 20%;
    padding: 0 5px;

}

.columna img {
    margin-top: 0px;
    margin-left: 0px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-widht: 800px) {
    .columna {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-widht: 500px) {
    .columna {
        flex: 100%;
        max-width: 100%;
    }
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: .25rem;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: 2.5s cubic-bezier(0.4, 0.2, 0.2, 1)
}

.card:hover {

    transform: rotateY(0deg);
    opacity: 0.5;
}

.container {
    padding: 2px px;
    border-color: transparent;
}

.guardar{
    background-color: #D62B2B;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    width: 110px;
    height: 25px;
    font-size: 11px;
}

.concepto {
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(36, 34, 34);
    cursor: pointer;
    width: auto;
    height: 25px;
    font-size: 15px;
    
}

.descargar {
    background-color: #d3d3d3;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    width: 110px;
    height: 25px;
    font-size: 9pt;
}

img{
    cursor: pointer;
    border-radius: 30px;
}